#board{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    .card{
        background-image: url('img/karta.png');
        background-size: contain;
        width: 150px;
        height: 150px;
    }
    
}