body
{
	margin: 0;
	background-color: #576385;
	color: white;
   	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

header{
	text-align: center;
	margin: auto;
}
.board{
	margin: auto;
	padding: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;

}

.score{
	text-align: center;
}

.card{
	margin: auto;
	width: 130px;
	height: 190px;
	background-image: url('img/karta.png');
	background-size:cover;
	background-repeat: no-repeat;
	border: 2px solid #1d3781;
	&:hover{
		cursor: pointer;
		border: 2px solid red;
	}
}

.cardActive{
	margin: auto;
	width: 130px;
	height: 190px;
	background-size:cover;
	background-repeat: no-repeat;
	border: 2px solid #1d3781;
}
